JIRA_URL=https://tirea.atlassian.net
JIRA_EMAIL=arturo.navarro@tirea.es
JIRA_TOKEN=ATATT3xFfGF0xZgbIAPXsP8ShEwsodA6Fomt-3maaJlH8vC9Ad44fi2sSzR4O4XiE3rjZySoJUxtnZOobwzpczYrfolEpOVPoyLTP7UNtYLLFdmC4rxGeouMw_gx517umTKKkXlC8EaWVAblwR5mZvgPPK1pjmFjWFpMGyItLQNuI9G1iBM06Eg=287086B9
OBSIDIAN_VAULT_PATH=/mnt/c/Users/arturonavarro/ObsidianVault
MAIL_DIR_PATH=/home/arturonavarro/Maildir
