JIRA_URL=https://tirea.atlassian.net
JIRA_EMAIL=arturo.navarro@tirea.es
JIRA_TOKEN=tu_token_aqui
OBSIDIAN_VAULT_PATH=/mnt/c/Users/arturonavarro/ObsidianVault
# Maildir suele estar en el home del usuario en WSL
MAIL_DIR_PATH=~/Maildir
